body {
  background-color: forestgreen;
}

.green-thumbs-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.garden-form-container {
  border-radius: 40px;
  background-color: azure;
  padding: 40px 35px;
  width: 35%;
}

.garden-form-input-container {
  align-items: center;
  display: flex;
  width: 15px;
}

.garden-form-input-title {
  padding: 8px;
}

.plant-card-container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: khaki;
  width: 25%;
}

.plant-card-container:hover:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.center {
  /* display: flex; */
  /* margin-left: auto;
    margin-right: auto;
    width: 50%; */
  /* justify-content: center; */
}

img-container {
  text-align: center;
  display: block;
}

.plant-card {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}

/* div. {display: inline-block;} */
